<div class='container'>

    <table class='table table-striped table-bordered'>
        <thead>
            <tr>
                <th>Shopping Cart</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let cartData of allCartDataItems index as index'>
                <td>
                    <p>{{cartData.title}}</p>
                    <img src={{cartData.imageUrl}} class="card-img-top">
                    <p>{{cartData.description}}</p>
                    <p><button class='btn btn-danger' (click)="deleteCartData(cartData.id)">
                            Delete
                        </button></p>
                </td>
                <td>
                    {{cartData.quantity}}
                </td>
                <td>
                    $ {{cartData.price}} X {{cartData.quantity}}
                </td>

            </tr>
            <tr>
                <td><b>Total</b></td>
                <td>
                    {{quantityTotal}}
                </td>
                <td><b>$ {{total.toFixed(2)}}</b></td>
            </tr>
        </tbody>
    </table>
    <button class='btn btn-success'>Proceed to checkout</button>
</div>