.card-img-top {
  width: 250px;
  height: 260px;
  filter: brightness(110%);
  cursor: pointer;
}
.card {
  margin-left: 1%;
  margin-right: 1%;
}

.container-fluid{
margin: 0 auto;
}
@media (min-width: 768px) {
  .container-fluid{
margin: 5%;

}
}