.adminPage {
  margin-top: 8%;
}
.btn {
  font-weight: 500;
  margin: 1%;
}
.form-control {
  width: 40%;
}
.error {
  color: red;
}
.blue {
  background-color: blue;
  color: white;
}

.readButton {
  background-color: rgba(224, 143, 21, 0.897);
  border-color: rgba(224, 143, 21, 0.897);
  color: white;
}

.view {
  width: 250px;
  height: 260px;
  filter: brightness(110%);
}
.errorRed {
  border-color: red;
}
.container {
  margin-left: 5%;
  margin-top: 5%;
}

@media (max-width: 36.25em) {
  .container {
    margin-left: 5%;
    margin-top: 15%;
  }
}
