.titleSinglePage {
  font-size: larger;
  font-weight: bolder;
}

.priceSinglePage {
  color: #2a69f0;
  font-weight: bold;
}
.singlePageImage {
  height: 600px;
  width: 600px;
}
.modalImage {
  height: 150px;
  width: 150px;
}
.detailSinglePage {
  margin-top: 20%;
}
.dropdown {
  margin-bottom: 2%;
}

label {
  margin-right: 1%;
}
.greenText {
  color: green;
  font-weight: 500;
}
@media (max-width: 768px) {
  .singlePageImage {
    height: 250px;
    width: 250px;
  }
}
