.container {
  width: 40%;
  margin-top: 10%;
}

@media (max-width: 36.25em) {
  .container {
    width: 60%;
    margin-top: 20%;
  }
}

.loginError {
  color: red;
  margin-top: 5%;
}

.errorRed {
  border-color: red;
}
