<div class='container pt-3'>
        <form>            
        <div>
            <ng-container *ngIf="token === '' ">
            <div class='row'>
                <ng-container *ngIf= "active==='login'">
                    <button class='btn col-sm-6  btn-primary' (click)="handleLogin()">
                        Log in
                    </button>
                </ng-container>
                <ng-container *ngIf="active==='signup'">
                    <button class='btn col-sm-6  btn-secondary' (click)="handleLogin()">
                        Log in
                    </button>
                </ng-container>
               <ng-container *ngIf= "active==='signup'">
                <button class='col-sm-6 btn btn-primary' (click)="handleSignup()">
                     Sign up
                </button>
               </ng-container>
                <ng-container *ngIf="active==='login'">
                    <button class='col-sm-6 btn btn-secondary' (click)="handleSignup()">
                        Sign up
                    </button>
                </ng-container>
            </div>
          
        
            <p class='loginError text-center'>{{loginError}}</p>
            <ng-container *ngIf="active==='signup'">
                <ng-container *ngIf="errorType==='firstName'">
                    <input placeholder='First Name' class='form-control errorRed' autocomplete="name" style="margin-top: '30px'" type="text"
                        name='firstName' [(ngModel)]='firstName' />
                </ng-container>
                <ng-container *ngIf="errorType!=='firstName'" >
                    <input placeholder='First Name' class='form-control' autocomplete="name" style="margin-top: '30px'" type="text"
                        name='firstName' [(ngModel)]='firstName' />
                </ng-container>
               
            </ng-container>

            
            
          
            <ng-container *ngIf="errorType !== 'email'">
                <input type='email' class='form-control' placeholder='Email' autocomplete="username" style="margin-top: '30px'"
                    name='email' [(ngModel)]='email' />
            </ng-container>

            <ng-container *ngIf="errorType === 'email'">
                <input type='email' class='form-control errorRed' placeholder='Email' autocomplete="username" style="margin-top: '30px'"
                    name='email' [(ngModel)]='email' />
            </ng-container>

            
            <ng-container  *ngIf="errorType === 'password'">
                 <input type='password' placeholder='Password' autocomplete="current-password" class='form-control errorRed'
                 style="margin-top: '30px'" name='password' [(ngModel)]='password' />
            </ng-container>

            <ng-container *ngIf="errorType !== 'password'">
                <input type='password' placeholder='Password' autocomplete="current-password" class='form-control'
                    style="margin-top: '30px'" name='password' [(ngModel)]='password' />
            </ng-container>
        
            </ng-container>
            <ng-container *ngIf="token !== '' ">
                <h5 style="margin-left: '20px'">Are you sure you want to Log out?</h5>
            </ng-container>
         

      
            <ng-container *ngIf="token === '' ">
    
            <button type='button' class='btn btn-danger' (click)="onSubmit()"  style="margin-top: '30px'" >
                Submit
            </button>
            </ng-container>
            <ng-container *ngIf="token !== '' ">
                <button type='button' class='btn btn-danger' (click)="onSubmit()"  style="margin-top: '30px'" >
                    Yes
                </button>
            </ng-container>
        </div>

        </form>
</div>
